build/
pkg/
dist/
src/
bin/
*.pyc
*.egg-info/
.idea/
files/

.tmp
.vagrant
*.env
*.json

bower_components/
node_modules/

transfersh-server/run.sh
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
